{% extends "base.html" %}
<!-- title -->
{% block title %}Reset Password{% endblock title %}
<!-- content -->
{% block content %}
<style>
    input{
        width: 85%;
        border-radius: .4rem;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card bg-secondary p-4 m-3">
                <h5 class="display-5 my-3 text-center">Enter New Password</h5>
                <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark my-2" >Change my Password</button>
                    </div>
                </form>
                <a href="{% url 'login' %}" class="text-decoration-none text-dark">Back to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- forms -->
from django import forms
from . models import *


class UserRegistrationForm(forms.ModelForm):
    username = forms.CharField(widget=forms.TextInput(attrs={
        "class": "input",
        "type": "text",
        "placeholder": "Enter username"
    }))
    email = forms.CharField(widget=forms.TextInput(attrs={
        "class": "input",
        "type": "email",
        "placeholder": "Enter email"
    }))
    password1 = forms.CharField(widget=forms.TextInput(attrs={
        "class": "input",
        "id": "myInput",
        "type": "password",
        "placeholder": "Enter password"
    }))
    password2 = forms.CharField(widget=forms.TextInput(attrs={
        "class": "input",
        "id": "myBox1",
        "type": "password",
        "placeholder": "Enter password again"
    }))
    class Meta:
        model = Detail
        fields = ['username', 'email', 'password1', "password2"]

        <!-- models -->

        from django.db import models
        from django.contrib.auth.models import User
        
        
        # Create your models here.
        class Detail(models.Model):
            user_info = models.OneToOneField(User, on_delete = models.CASCADE)
            first_name = models.CharField(max_length=250)
            last_name = models.CharField(max_length=250)
            username = models.CharField(max_length=250)
            email = models.EmailField()
            middleman_phone = models.CharField(max_length=50)
            middleman_picture = models.ImageField(upload_to="workers/", blank=True, null = True)
        
            def __str__(self):
                return self.username
        <!--
             views  -->
        from django.shortcuts import render,redirect
        from django.contrib.auth.models import User
        from .forms import UserRegistrationForm
        from django.contrib.auth import login,logout,authenticate
        from .models import Detail
        
        
        # Create your views here.
        def begin(request):
            if request.user.is_authenticated:
                return redirect('message')
            form = UserRegistrationForm()
            if request.method == "POST":
        
                form = UserRegistrationForm(request.POST, request.FILES)
        
                if form.is_valid():
                    username = form.cleaned_data.get('username')
                    password = form.cleaned_data.get('password1')
                    password2 = form.cleaned_data.get('password2')
                    email = form.cleaned_data.get('email')
        
                    if User.objects.filter(username = username):
                        print('Username Already exist')
                        return redirect('begin')
                    if User.objects.filter(email = email):
                        print('Email Already exist')
                        return redirect('begin')
                    if password != password2:
                        print('Password not match')
                        return redirect('begin')
        
                    user_info = User.objects.create_user(username,email,password)
                    form = form.save(commit= False)
                    form.user_info = user_info
                    user_info = form.save()
                    print('Registration successful !')
                    return redirect('message')
            else:
                form = UserRegistrationForm()
        
            context = {
                'form': form,
            }
        
            return render(request, 'userfiles/begin.html', context)
        
        def returns(request):
            if request.user.is_authenticated:
                return redirect('message')
            if request.method == 'POST':
                username = request.POST.get('usaname')
                password = request.POST.get('paswd')
               
        
                user_info = authenticate(username = username, password = password)
                if user_info is not None:
                    login(request, user_info)
                    print('Login successful !')
                    return redirect('message')
                else:
                    print('Invalid Username or Password !')
                    return redirect('returns')
        
            return render(request, 'userfiles/returns.html')
        
        def end(request):
            logout(request)
            print('Logout successful !')
        
            return redirect('returns')
        <!-- urls -->
        from django.urls import path
        from . import views
        from django.contrib.auth import views as auth_views
        
        
        urlpatterns = [
            path('signup/',views.begin,name='begin'),
            path('signin/',views.returns,name='returns'),
            path('logout/',views.end,name='end'),
        ]
        


        # class Friend(models.Model):
#     profile = models.OneToOneField(Profile, on_delete=models.CASCADE)
    
#     def __str__(self):
#         return self.profile.name

# class ChatMessage(models.Model):
#     body = models.TextField()
#     msg_sender = models.ForeignKey(Profile, on_delete=models.CASCADE, related_name="msg_sender")
#     msg_receiver = models.ForeignKey(Profile, on_delete=models.CASCADE, related_name="msg_receiver")
#     seen = models.BooleanField(default=False)
    
#     def __str__(self):
#         return self.body